.page {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: lightgrey;
    font-family: 'Inter', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }