.lead {
    padding: 0 0 32px 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #2A2C2F;
    min-width: 320px;
    width: 100%;
}

@media (min-width: 640px) {
    .lead{
        padding: 0 0 44px 0;
    }
}

@media (min-width: 960px) {
    .lead {
        padding: 0 48px 48px 48px;
    }
}

@media (min-width: 1280px) {
    .lead {
        padding: 0 148px 48px 148px;
    }
}