.cover__subtitle {
    margin: 0 auto;
    padding-top: 16px;
    max-width: 288px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

@media (min-width: 500px) {
    .cover__subtitle {
        padding-top: 24px;
        font-size: 16px;
        max-width: 320px;
    }
}

@media (min-width: 700px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.22;
        padding-top: 32px;
        max-width: 360px;
    }
}