.header {
    padding: 16px 0 0 0;
    background-color: #2A2C2F;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 288px;
    min-height: 58px;
}