.footer__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px; /* identical to box height, or 100% */
    color: #FFFFFF;
    opacity: 1;
}

.footer__link:hover {
    opacity: 0.8;
}