.footer__blok-link {
    margin: 32px 0 0 0;
    padding: 0;
    opacity: 1;
    transition: opacity 1s ease;
}

.footer__column-link:hover {
    opacity: 0.8;
    transition: opacity 1s ease;
}

@media (min-width: 640px) {
    .footer__blok-link {
        margin: 0;
    }
}