.lead__subtitle {
    margin: 16px 14px 40px 14px;
    padding: 0;
    line-height: 20px;
    font-size: 16px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}

@media (min-width: 500px) {
    .lead__subtitle {
        line-height: 1.2;
        font-size: 23px;
        margin: 24px;
    }
}

@media (min-width: 640px) {
    .lead__subtitle {
        line-height: 1.2;
        font-size: 30px;
        margin: 32px 64px 56px 64px;
    }
}

@media (min-width: 1024px) {
    .lead__subtitle {
        margin-right: 114px;
        margin-left: 114px;
    }
}

@media (min-width: 1280px) {
    .lead__subtitle {
        margin-right: 172px;
        margin-left: 172px;
        margin-bottom: 64px;
    }
}