.place__link {
    margin: 0;
    padding: 0 16px 0 16px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 1s ease;
}

.place__link:hover {
    opacity: 0.8;
}

@media (min-width: 750px) {
    .place__link {
        padding: 0;
    }
}