.cover__title {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 450px) {
    .cover__title {
        font-size: 52px;
    }
}

@media (min-width: 640px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.1;
    }
}

@media (min-width: 960px) {
    .cover__title {
        margin: 0 220px;
    }
}

@media (min-width: 1280px) {
    .cover__title {
        margin: 0 312px;
    }
}
