.place {
    margin: 0;
    padding: 0;
}

@media (min-width: 750px) {
    .place {
        display: grid;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media (min-width: 960px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media (min-width: 1280px) {
    .place {
        grid-template-columns: 460px 1fr;
        gap: 48px 40px;
    }
}