.cover__title-link {
    display: grid;
    grid-template-areas: "cover";
    place-items: center;
    place-content: center;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

.cover__title-link:hover:before {
    position: absolute;
    background: #2A2C2F;
    width: 100%;
    height: 100%;
    z-index: 4;
    content: "";
    opacity: 0.3;
}